.acc-header {
  border-bottom: 1px solid rgb(202, 202, 202);
  min-height: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;

  color: #25C6F7;
}

.header-title {
  overflow-wrap: break-word;
  overflow: auto;
  width: 100%;

  font-weight: 600;
}

.acc-body {
  min-height: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
  line-height: 1.5rem;
  border-bottom: 1px solid #dcdcdc;
  background-color: #0C916E !important;

  color: #BD1C2A;
  font-size: 12px !important;
}

.arrow {
  font-size: 18px;
}

.badge-info {
  font-size: 12px !important;
  color: #FBFFFE !important;
}

.status {
  width: 25px !important;
  height: 25px !important;
}
