<header class="mb-auto">
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-center">
      <h1 class="navbar-brand d-flex align-items-center">
        <strong>Rick and Morty</strong>
      </h1>
    </div>
  </div>
</header>

<main>
  <div class="container">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <input
        type="text"
        class="form-control mx-sm-3"
        placeholder="Search {{ searchType }}"
        [(ngModel)]="searchString"
        (input)="search()"
      />

      <img
        *ngIf="searching"
        class="portal"
        src="https://www.rickandmorty.com/assets/images/common/loader.png"
      />

      <div class="card-deck" *ngIf="(response | async) && !searching && !searchFailed">
        <ng-container *ngIf="(response | async) !== null">
          <resource-information *ngFor="let result of (response | async).results" [information]="result"></resource-information>
        </ng-container>

        <button type="button" class="btn btn-sucess" *ngIf="(response | async).info && (response | async).info.next" (click)="nextPage()">
          Next Page
        </button>
      </div>
      <div class="mx-auto bg-dark text-danger text-center" *ngIf="searchFailed">
        Not found!!!
      </div>
    </div>
  </div>
</main>

<footer class="footer mt-auto py-3">
  <div class="container">
    <p>
      Made with <a href="https://getbootstrap.com/">Bootstrap</a>, by
      <a href="https://github.com/FMMazur">FMMazur</a>.
    </p>
  </div>
</footer>
