<div class="container">
  <input
    type="text"
    class="form-control mx-sm-3"
    placeholder="Search {{ searchType }}"
    [(ngModel)]="searchString"
    (input)="search()"
  />

  <div class="card-deck" *ngIf="response">
    <ng-container *ngFor="let result of (response | async).results">
      <resource-information [information]="result"></resource-information>
    </ng-container>

    <ngb-pagination
      [collectionSize]="(response | async).count"
      [pageSize]="(response | async).pages"
      [(page)]="page"
      [boundaryLinks]="true"
      [directionLinks]="true"
    >
    </ngb-pagination>
  </div>
  <pre>searchString: {{ searchString | json }}</pre>
</div>
