ion-list {
  background-color: #1f353b;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba($color: #4ead64, $alpha: 0.12),
    0 1px 2px rgba($color: #4ead64, $alpha: 0.24);

  color: #192038;
  font-size: 0.9375rem;
  font-weight: 400;

  margin-bottom: 15px;
  margin-top: 10px;
  padding: 0;
}
